{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
{% if is_granted('ROLE_USER') %}
    <h1>Users index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                {# <th>Username</th> #}
                <th>Roles</th>
                {# <th>Password</th> #}
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {# <td>{{ user.id }}</td> #}
                {# <td>{{ user.username }}</td> #}
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                {# <td>{{ user.password }}</td> #}
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}">Voir plus</a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}">Mettre à jour</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('register') }}">Create new</a>

{% else %}
    <div>
    <button type="button"><a href="{{ path('app_login') }}">Connectez-vous !</a></button>
    </div>
    <div>
    <button type="button"><a href="{{ path('register') }}">Inscrivez-vous !</a></button>
    </div>
{% endif %}
{% endblock %}