{% extends 'base.html.twig' %}

{% block title %}Skills{% endblock %}

{% block body %}
    <h1>Skills</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ skill.id }}</td>
            </tr>
            <tr>
                <th>Skill_name</th>
                <td>{{ skill.skillName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('skills_index') }}">back to list</a>

    <a href="{{ path('skills_edit', {'id': skill.id}) }}">edit</a>

    {{ include('skills/_delete_form.html.twig') }}
{% endblock %}
